/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
/*
.button {
    -fx-font: 14px "Serif";
    -fx-padding: 10;
    -fx-background-color: #CCFF99;
}
*/
.root{
    -fx-font-size: 11pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(34, 34, 34);
    -fx-background: rgb(122,122,122);
}

.button{
    -fx-text-fill:rgb(217,93,0);
    -fx-border-color: rgb(217,93,0);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-focus-color: red;
}

.button:focused{
    -fx-border-color:rgb(237,28,36); 
    -fx-text-fill:rgb(237,28,36); 
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill:rgb(217,93,0);
}

.progress-bar{
    -fx-accent:rgb(237,28,36);
}

/*
rgb(122,122,122) boulder
rgb(217,93,0) bamboo
rgb(61, 33, 23) cedar
rgb(237,28,36) pigment red


rgb(225, 228, 203); moon mist
rgb(49, 89, 23); dell
*/




